*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-family: Arial;
}

header {
    border-radius: 0 0 1vw 1vw;
     box-shadow: 2px 2px 2px gray;
}
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .5vw 5vw;
}

.logo img {
    width: 120px;
    height: auto;
}
nav ul {
    display: flex;
    gap: 20vw;
    list-style: none;
}

.logout {
    border:.1vw solid grey;
    padding: .5vw 0vw;
    border-radius: .5vw;
    width: 12vw;
    height: 3vw;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color : black;
    font-size: 16px;
}

.theme{
    padding: .5vw 0vw;
    width: 12vw;
    height: 3vw;
    text-align: center;
}
